{% include "base.html"%}
{% load static%}


<section id="foundation">
    <h2 class="heading"> Foundation Level </h2>


    <!-- Services Main Container Starts from Here -->
    <div class="foundation-container">

        <!-- Service Item starts from here -->
        <div class="foundation-item">
            <ul>
                <li><i class="bi bi-award"></i></li>
            </ul>
            <article>
                <h2 class="foundation-heading"> level 1 </h2>
                <p>The first level helps you to identify the in-born talents scientifically.
                    For this, it includes detailed counseling, assessment, and several psychometric
                    programs which promote this process. </p>
            </article>
        </div>
        <!-- Service Item Ends here -->

        <!-- Service Item starts from here -->
        <div class="foundation-item">
            <ul>
                <li><i class="bi bi-mortarboard-fill"></i></li>
            </ul>
            <article id="para1">
                <h2 class="foundation-heading"> level 2</h2>
                <p>The second level provides various methods to develop and nourish the identified talents.
                    This helps in creating a career route map following which will help you to reach your goal effortlessly.</p>
            </article>
        </div>

        <div>
            <p> The key mission of the foundation level is to eliminate the mental pressure which leads to depression, 
                suicides, and other consequences. Apart from wiping out unemployment, it also provides complete job
                 satisfaction. It helps you to choose the career based on your passion rather than compels or confusion. 
                The foundation-level programs help to clarify career goals by identifying skills and talents. 
                The major advantage of choosing a career using this method is that it will help to elevate confidence
                 and showcase your optimum performance in your field. In short, the program will help in fetching a successful career. 
                
            </p>
        </div>

</section>

{% include "footer.html" %}


























<!-- <div class="container">
    <div class="row">
        
        <div class="col-sm-12">
            <h1 style="color: #1e1955;font-family: 'cinzel', serif;font-size: 70px;margin-top: 50px;">Foundation Level</h1>
        <div>

        
        
        

    </div>


    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-6">
            <div class="service-item" style="width: 500px;">
                
                <article>
                    <h2 class="service-heading"> Level 1 </h2>
                    <p style=" color:rgb(0, 0, 34);font-family: 'Poppins', sans-serif;font-size: 18px;text-align: center;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nemo eaque consequuntur quam
                        tenetur soluta eius ut!</p>
                </article>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="service-item" style="width: 500px;">
                
                <article>
                    <h2 class="service-heading"> Level 2 </h2>
                    <p style=" color:rgb(0, 0, 34);font-family: 'Poppins', sans-serif;font-size: 18px;text-align: center;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nemo eaque consequuntur quam
                        tenetur soluta eius ut!</p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p style="margin-top: 50px;">Your personality could be like that of a Scientist, Architect, Designer, Researcher, Artist,
                    Sculptor, Painter,
                    Navigator, Urban Planner, Analytical strategists who explore new horizon of possibilities and believe that
                    everything can well be learned through analyzing and experimenting. You are insensely curious and
                    enthusiastic, ambitious and self-confident. You are always looking for new projects to work on. Since you have
                    an entrepreneurial character you urge to make or work something independently. You are focused on
                    designing, developing and emproving different mechanisms and innovating resultsnt products. In social circle,
                    you like to direct other rather than just giving information. You look at the world with a rational view. You
                    need everything to be understood logically. You give tremendous value to systems and organization. These
                    characteristics combined with your natural insightfulness makes you an excellent individual who has a
                    scientific mind and analytical skills.</p>
            </div>

        </div>


    </div>
    </div>
</div> -->